.footer_bg
{
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow-x: hidden;
}

.footer2_bg
{
    overflow-x: hidden; 
    background: #121212;
}

.footer_logo_size
{
    height: 170px;
    width: 170px;
}

.footer_text
{
	color: #c7c7c7;
	font-size: 18px;
}

.footer_social a
{
	color: #797979 !important;
	font-size: 25px;
}

.footer_img_anim
{
	animation: footer_img_anim 2s;
}

@keyframes footer_img_anim
{
	0%{
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

.footer_text_anim
{
	animation: footer_text_anim 3s;
}

@keyframes footer_text_anim
{
	0%{
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100%{
    filter: blur(0);
    opacity: 1;
  }
}

