.navbar_bg {
  border-radius: 50px;
  box-shadow: 20px 1px 50px rgba(0,0,0,0.5);  
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
  animation: nav_anim 1.8s ease 1 normal forwards;
}

.logo_size {
  height: auto;
  width: 250px;
}

.nav_toggler {
  font-size: 50px;
  color: white;
  cursor: pointer;
}

@keyframes nav_anim {
  0% {
    transform: translateZ(700px) translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.nav_text {
  color: white;
  font-size: 20px;
  margin: 4px;
  font-weight: 500;
}

/* Responsive Styles */
@media only screen and (max-width: 370px) {
  .logo_size {
    width: 200px;
  }
}

@media only screen and (max-width: 850px) {
  .logo {
    width: 160px;
  }
  
  .fa-bars {
    font-size: 35px !important;
  }
}

/* Mobile Overlay Styles */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px !important;
  display: block;
  transition: 0.3s;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
}

.overlay a:hover, 
.overlay a:focus {
  color: #CBB26A;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 850px) {
  .overlay a {
    font-size: 20px !important;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}